.main-header {
    justify-content: center;
    text-align: center;
}
.main-nav {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.main-link {
    background: conic-gradient(#9ff63c, #c5f292, #9ff63c);
    height: 100%;
    width: 100%;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    font: bold 1.3em "Arial";
    border: #355e07 1px solid;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
}
.main-footer {
    display: flex;
    height: 5vh;
    width: 100%;
    background-color: rgb(215, 212, 212);
    align-items: center;
    justify-content: center;
}
